/**
 * $Id$
 *
 * Author: David Danier, david.danier@team23.de
 * Project: Serverstats, http://www.webmasterpro.de/~ddanier/serverstats/
 * License: GPL v2 or later (http://www.gnu.org/copyleft/gpl.html)
 */

body {
	font-family: verdana, arial, sans-serif;
	padding: 10px;
	margin: 0px;
}

img {
	border: 0px none;
}

a {
	color: #000000;
}

#menu {
	position: fixed;
	top: 0px;
	right: 0px;
	border-left: 2px dotted #AAAAAA;
	border-bottom: 2px dotted #AAAAAA;
	padding: 10px;
	background-color: #FFFFFF;
}

#menu ul, #menu li {
	padding: 0px;
	margin: 0px;
}

#menu ul {
	list-style: none;
}

#menu li {
	white-space: nowrap;
}
